/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
	font-family: "Open Sans", sans-serif;
	color: #444444;
}

a {
	color: #1977cc;
}

a:hover {
	color: #3291e6;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", sans-serif;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
}

#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #1977cc;
	border-top-color: #d1e6f9;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
	position: fixed;
	display: none;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
}

.back-to-top i {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background: #1977cc;
	color: #fff;
	transition: all 0.4s;
}

.back-to-top i:hover {
	background: #1c84e3;
	color: #fff;
}

.datepicker-dropdown {
	padding: 20px !important;
}


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
	background: #fff;
	height: 40px;
	font-size: 14px;
	transition: all 0.5s;
}

#topbar.topbar-scrolled {
	top: -40px;
}

#topbar .contact-info a {
	line-height: 1;
	color: #444444;
	transition: 0.3s;
}

#topbar .contact-info a:hover {
	color: #1977cc;
}

#topbar .contact-info i {
	color: #1977cc;
	padding-right: 4px;
	margin-left: 15px;
}

#topbar .contact-info i:first-child {
	margin-left: 0;
}

#topbar .social-links a {
	color: #437099;
	padding-left: 15px;
	display: inline-block;
	line-height: 1px;
	transition: 0.3s;
}

#topbar .social-links a:hover {
	color: #1977cc;
}

#topbar .social-links a:first-child {
	border-left: 0;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
	background: #fff;
	transition: all 0.5s;
	z-index: 997;
	padding: 15px 0;
	/* top: 40px; */
	box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#header.header-scrolled {
	top: 0;
}

#header .logo {
	font-size: 32px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 0.5px;
	font-family: "Poppins", sans-serif;
}

#header .logo a {
	color: #2c4964;
}

#header .logo img {
	max-height: 40px;
}

@media (max-width: 992px) {
	#header {
		top: 0;
	}
	#header .logo {
		font-size: 28px;
	}
	.rest-w-ab-right {
		padding-right: 2rem!important;
	}
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/* Desktop Navigation */

.nav-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu>ul {
	display: flex;
}

.nav-menu>ul>li {
	position: relative;
	white-space: nowrap;
	padding: 8px 0 8px 20px;
}

.nav-menu a {
	display: block;
	position: relative;
	color: #2c4964;
	transition: 0.3s;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	padding: 5px 2px;
	border-bottom: 2px solid #fff;
	font-weight: 600;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
	color: #1977cc;
	border-color: #1977cc;
}

.nav-menu .drop-down ul {
	display: block;
	position: absolute;
	left: 20px;
	top: calc(100% + 30px);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	padding: 10px 0;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
}

.nav-menu .drop-down:hover>ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.nav-menu .drop-down li {
	min-width: 180px;
	position: relative;
}

.nav-menu .drop-down ul a {
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
	color: #082744;
	border: none;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
	color: #1977cc;
}

.nav-menu .drop-down>a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
	top: 0;
	left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
	opacity: 1;
	top: 0;
	left: 100%;
}

.nav-menu .drop-down .drop-down>a {
	padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
	content: "\eaa0";
	font-family: IcoFont;
	position: absolute;
	right: 15px;
}

@media (max-width: 1366px) {
	.nav-menu .drop-down .drop-down ul {
		left: -90%;
	}
	.nav-menu .drop-down .drop-down:hover>ul {
		left: -100%;
	}
	.nav-menu .drop-down .drop-down>a:after {
		content: "\ea9d";
	}
}


/* Mobile Navigation */

.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: right;
}

.mobile-nav-toggle i {
	color: #1977cc;
}

.mobile-nav {
	position: fixed;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	z-index: 9999;
	overflow-y: auto;
	background: #fff;
	transition: ease-in-out 0.2s;
	opacity: 0;
	visibility: hidden;
	border-radius: 10px;
	padding: 10px 0;
}

.mobile-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mobile-nav a {
	display: block;
	position: relative;
	color: #2c4964;
	padding: 10px 20px;
	font-weight: 500;
	outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
	color: #1977cc;
	text-decoration: none;
}

.mobile-nav .drop-down>a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 10px;
	position: absolute;
	right: 15px;
}

.mobile-nav .active.drop-down>a:after {
	content: "\eaa1";
}

.mobile-nav .drop-down>a {
	padding-right: 35px;
}

.mobile-nav .drop-down ul {
	display: none;
	overflow: hidden;
}

.mobile-nav .drop-down li {
	padding-left: 20px;
}

.mobile-nav-overly {
	width: 100%;
	height: 100%;
	z-index: 9997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(28, 47, 65, 0.6);
	overflow: hidden;
	display: none;
	transition: ease-in-out 0.2s;
}

.mobile-nav-active {
	overflow: hidden;
}

.mobile-nav-active .mobile-nav {
	opacity: 1;
	visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
	color: #fff;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
	width: 100%;
	height: 90vh;
	background: #000;
	background-size: cover;
	position: relative;
	margin-bottom: -100px;
}

#hero .container {
	position: relative;
}

#hero h1 {
	margin: 0;
	font-size: 38px;
	font-weight: 700;
	line-height: 48px;
	text-transform: uppercase;
	color: var(--primary);
}

#hero h2 {
	color: #2c4964;
	margin: 20px 0 0 0;
	font-size: 20px;
}

#hero .btn-get-started {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 12px 35px;
	margin-top: 30px;
	border-radius: 50px;
	transition: 0.5s;
	color: #fff;
	background: #1977cc;
}

#hero .btn-get-started:hover {
	background: #3291e6;
}

@media (min-width: 1024px) {
	#hero {
		background-attachment: fixed;
	}
}

@media (max-width: 992px) {
	#hero {
		margin-top: 30px;
		height: 70vh;
	}
	#hero .container {
		padding-bottom: 0;
	}
	#hero h1,
	.why-us .content h3 {
		font-size: 28px;
		line-height: 36px;
	}
	#hero h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
	.why-us .content p {
		font-size: 16px;
	}
}

@media (max-height: 500px) {
	#hero {
		height: auto;
	}
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
	padding: 60px 0;
	overflow: hidden;
}

.section-bg {
	background-color: #f1f7fd;
}

.section-title {
	text-align: center;
}

.title-space {
	padding-top: 30px !important;
}

.section-title h2 {
	font-size: 24px;
	font-weight: bold;
	position: relative;
	color: #2c4964;
	text-align: left;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.section-title h2::before {
	content: '';
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: 1px;
}

.section-title h2::after {
	content: '';
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #1977cc;
	bottom: 0;
	/* left: calc(6% - 20px); */
}

.section-title p {
	margin-bottom: 0;
	text-align: left;
}


/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/

.why-us .content {
	padding: 30px;
	background: #e1effd;
	border-radius: 4px;
	color: #fff;
}

.why-us .content h3 {
	font-weight: 700;
	font-size: 34px;
	color: #2c4964;
}

.why-us .content p {
	margin-bottom: 30px;
	color: #2c4964;
	font-weight: 600;
}

.why-us .content p b {
	font-style: italic;
}

.why-us .content .more-btn {
	display: inline-block;
	background: #007bff;
	padding: 6px 30px 8px 30px;
	color: #fff;
	border-radius: 50px;
	transition: all ease-in-out 0.4s;
}

.why-us .content .more-btn i {
	font-size: 14px;
}

.why-us .content .more-btn:hover {
	color: #1977cc;
	background: #fff;
}

.why-us .icon-boxes .icon-box {
	text-align: center;
	background: #f1f7fd;
	/* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); */
	padding: 20px 10px 0;
	width: 100%;
}

.why-us .card .card-body {
	padding: 0;
}

.why-us .card {
	background-color: #f1f7fd;
}

.why-us .icon-boxes .icon-box h4 {
	font-size: 20px;
	color: #2c4964;
	font-weight: 600;
}

.why-us .icon-boxes .icon-box p {
	font-size: 15px;
	color: #848484;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about .icon-boxes h4 {
	font-size: 18px;
	color: #4b7dab;
	margin-bottom: 15px;
}

.about .icon-boxes h3 {
	font-size: 24px;
	font-weight: 700;
	color: #2c4964;
	margin-bottom: 15px;
}

.about .icon-box {
	margin-top: 40px;
}

.about .icon-box .icon {
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
	border: 2px solid #8dc2f1;
	border-radius: 50px;
	transition: 0.5s;
}

.about .icon-box .icon i {
	color: #1977cc;
	font-size: 32px;
}

.about .icon-box:hover .icon {
	background: #1977cc;
	border-color: #1977cc;
}

.about .icon-box:hover .icon i {
	color: #fff;
}

.about .icon-box .title {
	margin-left: 85px;
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 18px;
	color: #343a40;
}


/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/

.contact-space {
	padding: 0 20px;
}

.faq .faq-list ul {
	padding: 0;
	list-style: none;
}

.faq .faq-list li {
	padding: 10px 0;
	color: #fff;
	position: relative;
}

.faq .faq-list h6 {
	display: block;
	position: relative;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	padding: 0 40px;
	margin: 0;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
	font-size: 24px;
	position: absolute;
	right: 0;
	top: 0;
}

.faq .faq-list p {
	margin-bottom: 0;
	padding: 10px 0 0 0;
	text-align: left;
}

.faq .faq-list .section-title h2 {
	text-align: center;
}

.faq .faq-list .section-title h2::before {
	content: '';
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: 1px;
	left: calc(50% - 60px);
}

.faq .faq-list .section-title h2::after {
	content: '';
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #1977cc;
	bottom: 0;
	left: calc(50% - 20px);
}

.faq .faq-list i {
	font-size: 26px;
	padding: 6px;
	color: #ffffff;
	position: absolute;
	right: 0;
	left: -7px;
	top: 4px;
}

.faq-b-icon img {
	width: 40px;
	margin-right: 10px;
}

@media (max-width: 1200px) {
	.faq .faq-list {
		padding: 0;
	}
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact .info {
	width: 100%;
	background: #fff;
}

.contact .info i {
	font-size: 20px;
	color: #1977cc;
	float: left;
	width: 44px;
	height: 44px;
	background: #d6e9fa;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
}

.contact .info h4 {
	padding: 0 0 0 60px;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 5px;
	color: #2c4964;
}

.contact .info p {
	padding: 0 0 0 60px;
	margin-bottom: 0;
	font-size: 14px;
	color: #4b7dab;
}

.contact .info .email,
.contact .info .phone {
	margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
	background: #1977cc;
	color: #fff;
}

.contact .php-email-form {
	width: 100%;
	background: #fff;
}

.contact .php-email-form .form-group {
	padding-bottom: 8px;
}

.contact .php-email-form .validate {
	display: none;
	color: red;
	margin: 0 0 15px 0;
	font-weight: 400;
	font-size: 13px;
}

.contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #ed3c0d;
	text-align: left;
	padding: 15px;
	font-weight: 600;
}

.contact .php-email-form .error-message br+br {
	margin-top: 25px;
}

.contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
}

.contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
}

.contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
}

.contact .php-email-form input {
	height: 44px;
}

.contact .php-email-form textarea {
	padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
	background: #1977cc;
	border: 0;
	padding: 10px 35px;
	color: #fff;
	transition: 0.4s;
	border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
	background: #1c84e3;
}

@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
	color: #444444;
	font-size: 14px;
	background: #f1f7fd;
}

#footer .footer-top {
	padding: 60px 0 30px 0;
	background: #fff;
	box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#footer .footer-top .footer-contact {
	margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
	font-size: 22px;
	margin: 0 0 30px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-weight: 700;
}

#footer .footer-top .footer-contact p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Raleway", sans-serif;
	color: #777777;
}

#footer .footer-top h4 {
	font-size: 16px;
	font-weight: bold;
	color: #444444;
	position: relative;
	padding-bottom: 12px;
}

#footer .footer-top .footer-links {
	margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: #1c84e3;
	font-size: 18px;
	line-height: 1;
}

#footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
}

#footer .footer-top .footer-links ul a {
	color: #777777;
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
	text-decoration: none;
	color: #1977cc;
}

#footer .footer-newsletter {
	font-size: 15px;
}

#footer .footer-newsletter h4 {
	font-size: 16px;
	font-weight: bold;
	color: #444444;
	position: relative;
	padding-bottom: 12px;
}

#footer .footer-newsletter form {
	margin-top: 30px;
	background: #fff;
	padding: 6px 10px;
	position: relative;
	border-radius: 50px;
	text-align: left;
	border: 1px solid #bfdcf7;
}

#footer .footer-newsletter form input[type="email"] {
	border: 0;
	padding: 4px 8px;
	width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 20px;
	background: #1977cc;
	color: #fff;
	transition: 0.3s;
	border-radius: 50px;
}

#footer .footer-newsletter form input[type="submit"]:hover {
	background: #1c84e3;
}

#footer .credits {
	padding-top: 5px;
	font-size: 13px;
	color: #444444;
}

#footer .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #1977cc;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#footer .social-links a:hover {
	background: #1c84e3;
	color: #fff;
	text-decoration: none;
}


/*--------------------------------------------------------------
# moduel
--------------------------------------------------------------*/

.module {
	background: url("../img/raw material_01.jpg") top center;
	background-attachment: fixed;
	width: 400px;
	height: 300px;
	position: relative;
	overflow: hidden;
	margin: 20px;
}

.module>header {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px 10px;
	background: inherit;
	background-attachment: fixed;
	overflow: hidden;
}

.module>header::before {
	content: "";
	position: absolute;
	top: -20px;
	left: 0;
	width: 200%;
	height: 200%;
	background: inherit;
	background-attachment: fixed;
	-webkit-filter: blur(4px);
	filter: blur(4px);
}

.module>header::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.25)
}

.module>header>h4 {
	margin: 0;
	color: white;
	position: relative;
	z-index: 1;
}


/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/

.performance-facts {
	border: 1px solid #eaeaea;
	float: left;
	padding: 0;
	width: inherit;
}

.performance-facts table {
	border-collapse: collapse;
}

.performance-facts__title {
	font-weight: bold;
	font-size: 1.6rem;
	margin: 0 0 0.25rem 0;
	text-align: center;
}

.performance-facts__header {
	padding: 0.25rem 0 0.25rem 0;
	margin: 0.5rem 0 0.5rem 0;
	color: #2c4964;
}

.performance-facts__header p {
	margin: 0;
}

.par-space {
	white-space: normal;
}

.performance-facts__table,
.performance-facts__table--small,
.performance-facts__table--grid {
	width: 100%;
}

.performance-facts__table thead tr th,
.performance-facts__table--small thead tr th,
.performance-facts__table--grid thead tr th,
.performance-facts__table thead tr td,
.performance-facts__table--small thead tr td,
.performance-facts__table--grid thead tr td {
	border: 0;
}

.performance-facts__table th,
.performance-facts__table--small th,
.performance-facts__table--grid th,
.performance-facts__table td,
.performance-facts__table--small td,
.performance-facts__table--grid td {
	font-weight: normal;
	/* text-align: right; */
	padding: 0.25rem;
	border-bottom: 1px solid black;
	white-space: nowrap;
}


/* /* .performance-facts__table td:last-child, .performance-facts__table--small td:last-child, .performance-facts__table--grid td:last-child {
  text-align: right;
} */

.performance-facts__table th {
	text-align: left;
	background: #f1f1fb;
	padding: 0.2rem 0.25rem;
}

.performance-facts__table .blank-cell,
.performance-facts__table--small .blank-cell,
.performance-facts__table--grid .blank-cell {
	width: 1rem;
	border-top: 0;
}

.performance-facts__table .thick-row th,
.performance-facts__table--small .thick-row th,
.performance-facts__table--grid .thick-row th,
.performance-facts__table .thick-row td,
.performance-facts__table--small .thick-row td,
.performance-facts__table--grid .thick-row td {
	border-top-width: 5px;
}

.small-info {
	font-size: 0.7rem;
}

.small-info-title {
	font-size: 0.8rem;
}

.small-info-m-title {
	font-size: 0.95rem;
	color: var(--primary);
}

.performance-facts__table--small {
	border-bottom: 1px solid #999;
	margin: 0 0 0.5rem 0;
}

.performance-facts__table--small thead tr {
	border-bottom: 1px solid black;
}

.performance-facts__table--small td:last-child {
	text-align: left;
}

.performance-facts__table--small th,
.performance-facts__table--small td {
	border: 0;
	padding: 0;
}

.performance-facts__table--grid {
	margin: 0 0 0.5rem 0;
}

.performance-facts__table--grid td:last-child {
	text-align: left;
}

.performance-facts__table--grid td:last-child::before {
	content: "•";
	font-weight: bold;
	margin: 0 0.25rem 0 0;
}

.text-center {
	text-align: center;
}

.thick-end {
	border-bottom: 10px solid black;
}

.thin-end {
	border-bottom: 1px solid black;
}

.tag-line {
	font-size: 0.95rem;
	font-weight: 400;
	font-style: italic;
	color: #2c4964;
}

.about .icon-boxes img {
	border-radius: 8px;
}


/*--------------------------------------------------------------
# slider
--------------------------------------------------------------*/

.slider {
	position: relative;
}

.slide1,
.slide2,
.slide3,
.slide4,
.slide5 {
	position: absolute;
	width: 100%;
	height: 100%;
}

.slide1 {
	background: url("../img/hero-bg-2.jpg") top center;
	background-size: cover;
	animation: fade 12s infinite;
	-webkit-animation: fade 12s infinite;
}

.slide2 {
	background: url("../img/hero-bg-3.jpg") top center;
	background-size: cover;
	animation: fade2 12s infinite;
	-webkit-animation: fade2 12s infinite;
}


/* .slide3 {
      background: url("../img/hero-bg-3.jpg") top center;
        background-size: cover;
      animation:fade3 12s infinite;
  -webkit-animation:fade3 12s infinite;
  } */

@keyframes fade {
	0% {
		opacity: 1
	}
	33.333% {
		opacity: 0
	}
	66.666% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes fade2 {
	0% {
		opacity: 0
	}
	33.333% {
		opacity: 0
	}
	66.666% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}


/* @keyframes fade3
  {
    0%   {opacity:0}
    33.333% { opacity: 0}
    66.666% { opacity: 1}
    100% { opacity: 0}
  } */

.wthree-about {
	position: relative;
}

.wthree-ab-left {
	padding: 0;
	/* position: absolute; */
	z-index: 99;
}

.wthree-ab-left img {
	padding: 0;
	box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
	width:380px;
}

.wthree-ab-right {
	padding: 2rem 2rem 1.4rem 2rem;
	background: #5692cb;
}

.wthree-ab-right h2 {
	font-weight: bold;
	font-size: 1.6rem;
	color: #fff;
}

.wthree-ab-right p {
	font-size: 1em;
	color: #fbfbfb;
	line-height: 1.9em;
	margin-bottom: 1em;
	letter-spacing: 2px;
}

.rest-w-ab-right {
	padding: 2rem 22rem 0.45rem 2rem;
	background: var(--cyan);
}

.rest-w-ab-right h2 {
	font-weight: bold;
	font-size: 1.6rem;
	color: #fff;
}

.rest-w-ab-right p {
	font-size: 1em;
	color: #fbfbfb;
	line-height: 1.9em;
	margin-bottom: 1em;
	letter-spacing: 2px;
}

.rest-w-left {
	padding: 0;
	position: absolute;
	right: 40px;
}

.rest-w-left img {
	width: 240px;
	padding: 0;
	box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}